/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/SkillFactory.iml
/.idea/vcs.xml
/B2.ipynb
/.ipynb_checkpoints/B2-checkpoint.ipynb
/temp.py
/testfile.txt
